@page
@{
    ViewData["Title"] = "Contact Us";
}

<div class="text-center">
    <h1 class="display-4">Contact Us</h1>
	<ul>
		<li>Email: <a href="mailto:hello@rockaway.dev">hello@rockaway.dev</a></li>
		<li>Phone: <a href="tel:555134">555 1234</a></li>
	</ul>
</div>
